body {
  background-color: #000;
  color: #fff;
  margin: 5px; }

a {
  text-decoration: none !important; }

/* Preferred colours */
.today_col {
  background-color: #609;
  color: #fff;
  /* today */
  background-image: linear-gradient(#609, #000); }

.sel_col {
  background-color: #c00;
  /* selected day */
  background-image: linear-gradient(#c00, #000); }

.three_col {
  background-color: #f60;
  /* days with entries */
  background-image: linear-gradient(#f60, #000); }

.four_col {
  background-color: #c90;
  /* days without entries */
  background-image: linear-gradient(#c90, #000); }

.equal {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em; }

input, select, button {
  color: #000; }

ul#projectsmenu {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding-left: 0;
  border-bottom-left-radius: 2px;
  box-shadow: -2px 2px 2px; }
  ul#projectsmenu li {
    list-style: none;
    text-align: center;
    font: bold 1em verdana;
    border-bottom: 1px solid rgba(196, 196, 196, 0.7);
    cursor: pointer; }
    ul#projectsmenu li a {
      display: block;
      color: #ccc; }
      ul#projectsmenu li a:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000; }
    ul#projectsmenu li.sel {
      color: yellow;
      border: 0; }
    ul#projectsmenu li.sel, ul#projectsmenu li a {
      padding: 0; }
    ul#projectsmenu li:last-child {
      border: 0; }

ul.diaryheadings {
  margin: 0;
  padding: 0;
  border-bottom: 0; }
  ul.diaryheadings li {
    width: 12.85%;
    margin: 0;
    padding: 0;
    border-radius: .4em .4em 0 0; }
    ul.diaryheadings li a {
      display: block;
      box-shadow: 1px 1px rgba(255, 255, 255, 0.3);
      text-align: center;
      padding: .1em 1em;
      color: #fff;
      font: bold 8pt verdana;
      cursor: pointer;
      border-radius: .8em .8em 0 0;
      text-shadow: 2px 2px 1px grey; }
      ul.diaryheadings li a:hover {
        background: linear-gradient(#c00, #000);
        color: #fff; }
  ul.diaryheadings #li_nxtwkbtn {
    text-align: right; }
  ul.diaryheadings #li_prvwkbtn, ul.diaryheadings #li_nxtwkbtn {
    width: 5%;
    box-shadow: 0 0; }
  ul.diaryheadings #li_prvwkbtn button {
    border-radius: .8em 0 0 .8em;
    width: 80%;
    text-align: left; }
  ul.diaryheadings #li_nxtwkbtn button {
    border-radius: 0 .8em .8em 0;
    width: 80%;
    text-align: right; }
  ul.diaryheadings #li_prvwkbtn button:hover, ul.diaryheadings #li_nxtwkbtn button:hover {
    background-color: #c00;
    color: #fff; }

#li_prvwkbtn button, #li_nxtwkbtn button, #dtPck .lbtn, #dtPck .rbtn {
  cursor: pointer;
  border: 1px solid grey;
  font: bold 1em arial;
  background-image: linear-gradient(#f00, #f90);
  color: #900; }

/* Data entry textarea */
#txtInfo1 {
  margin: 0;
  padding: .3em;
  height: 10em;
  font: bold 1.2em/1.4em arial;
  border: 0;
  color: #fff;
  border-radius: .8em; }

#txtInfo1 {
  width: 100%; }

#upd_btn {
  position: fixed;
  bottom: 0;
  left:0;

  z-index: 2;
}

#ins_upd_dt {
  margin-top: .5em; }

.ui-tooltip {
  background: #cc6600 !important;
  text-align: center;
  padding: 0 20px 10px !important;
  color: #fff !important;
  border-radius: 20px;
  font: bold 12px "Helvetica Neue", Sans-Serif !important;
  text-transform: uppercase;
  box-shadow: 0 0 7px black; }
  .ui-tooltip .date_s {
    font: bold 12px "Arial Black", Tahoma;
    background-color: #000;
    color: #fff;
    border-radius: .3em;
    padding: 0 4px 4px;
    margin-bottom: 4px;
    background-image: linear-gradient(#f90, red);
    text-shadow: 1px 1px 1px #646464; }

/* Calendar styles */
.cal_container {
  margin-top: 30em;
  z-index: 3;
}

.tm {
  position:fixed;
  left:50%;
  top:35px;
  transform:translateX(-50%);
  background-color:#609;
  border:1px solid #fff;
  border-radius:.3em;
  color:#fff;
  font-family:Impact,arial;
  width:10em;
  z-index:1;
  font-weight:bold;
  opacity:1;
  text-align:center;
  text-shadow: black;
}

#dtPck {
  text-align: center;
  background-image: linear-gradient(#c00, #000);
  border-radius: .8em;
  box-shadow: 2px 2px 2px #000;
  /*.btnHide {display:none;position:absolute;width:2em;color:#c00;}*/ }
  #dtPck tbody#d td {
    font: bold .8em arial;
    color: #fff;
    background: grey;
    border-radius: 0;
    text-shadow: 2px 2px 1px #000; }
  #dtPck #tblDate {
    background-color: transparent;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; }
    #dtPck #tblDate caption {
      background: rgba(255, 255, 255, 0.5);
      color: #000;
      font-variant: small-caps; }
    #dtPck #tblDate td {
      padding: 0;
      margin: 0;
      border-radius: .4em; }
      #dtPck #tblDate td a {
        display: block;
        text-decoration: none;
        font: bold 1.5em arial;
        border-radius: .4em;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        text-shadow: 2px 2px 1px #000;
        cursor: pointer; }
  #dtPck .lbtn {
    border-radius: .8em 0 0 .8em; }
  #dtPck .rbtn {
    border-radius: 0 .8em .8em 0; }

#dtPck #tblDate td {
  /* today_col */ }
  #dtPck #tblDate td.curDate {
    background-color: #609;
    color: #fff; }

#dtPck #tblDate td.three_col a {
  background-color: #f60;
  color: #fff;
  /* three_col */ }

#dtPck #tblDate td.four_col a {
  background-color: #c90;
  color: #fff;
  /* four_col */ }

#dtPck #tblDate td.sel_col a, #dtPck #tblDate td.sel_col a:hover, #dtPck #tblDate td a:hover {
  background-color: #c00;
  color: #fff; }

#dtPck #goToday {
  position: fixed; right:24px; top:35px; z-index: 2; border: 0; font-weight: bold;
}

/*#dtPck #tblDate td {&.nohover, &.medHead {cursor: hand;}}*/
.timepick {
  position: absolute;
  background: navy;
  border-radius: 250px;
  width: 250px;
  height: 250px;
  font-size: 2em;
  box-shadow: 1px 1px; }
  .timepick div.cen {
    text-align: center; }
  .timepick span {
    cursor: pointer;
    background: blue;
    border-radius: 2em;
    display: inline-block;
    width: 2em;
    text-align: center;
    background: linear-gradient(blue, navy); }
  .timepick .minutes {
    background: red; }

.activitysel {
  position: absolute;
  background: blue;
  border-radius: .5em;
  width: 700px; }

fieldset.whatdidyoudo input[name=timebox] {
  width: 5em; }
fieldset.whatdidyoudo select {
  font: 1.5em arial; }
fieldset.whatdidyoudo li img {
  cursor: pointer; }
fieldset.whatdidyoudo img:hover {
  transform: scale(2); }

/* Quick Add - 15/11/2016 */
.quickadd {
  position: absolute;
  top: 0;
  left: 70%;
  cursor: pointer;
  font-weight: bold; }

.quickadddiv {
  z-index: 2;
  border-radius: .4em;
  position: absolute;
  top: 20px;
  left: 800px;
  background: linear-gradient(black, blue);
  color: #fff;
  border: 1px solid #fff;
  padding: 1em; }
  .quickadddiv ul {
    margin: 1em 1em 1em 0;
    padding-left: 1.3em; }
  .quickadddiv li {
    cursor: pointer; }
    .quickadddiv li:hover {
      background: #f00;
      color: #fff; }
    .quickadddiv li textarea {
      width: 25em; }
  .quickadddiv .newentry {
    cursor: pointer;
    font-weight: bold;
    border-radius: .3em;
    background: red;
    text-align: center;
    width: 5em; }
  .quickadddiv .mode {
    font-weight: bold; }
  .quickadddiv .mode span {
    cursor: pointer; }
    .quickadddiv .mode span.highlight {
      color: yellow;
      cursor: default; }

/*# sourceMappingURL=styles.css.map */
