$tdycol: #609;
$selcol: #c00;
$thrcol: #f60;
$forcol: #c90;

body {
  background-color: #000;
  color: #fff;
  margin: 5px;
}

select {
 font-size: 11px;
}

/* Preferred colours */
.today_col {
  background-color: $tdycol; color: #fff; /* today */
  background-image: linear-gradient($tdycol, #000);
}
.sel_col {
  background-color: $selcol; /* selected day */
  background-image: linear-gradient($selcol, #000);
}
.three_col {
  background-color: $thrcol; /* days with entries */
  background-image: linear-gradient($thrcol, #000);
}
.four_col {
  background-color: $forcol; /* days without entries */
  background-image: linear-gradient($forcol, #000);
}

ul#projectsmenu {
  position:absolute;top:0;right:0;
  margin-top:0;padding-left: 0;
  li {
    list-style: none;
    padding-left: 0;
    float:left;
    a {
      margin-right: .5em;color:#ccc;text-decoration: none;font-weight: bold;
    }
    span {margin-right:.5em;font-weight: bold;color:yellow;}
  }

}

ul.diaryheadings {
  display:flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 0;
  background-color: transparent;
  li {
    margin: 0;
    padding: 0;
    width: 10.8%;

    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    a {
      display: block;
      border: 0;
      padding: .2em 1em;
      text-align: center;
      font-family: arial;
      font-weight: bold;
      height:100%;
    }
    &.sep {width:1.7375%;}
  }
  a:hover {
    background: linear-gradient($selcol,#000); color: #fff;
  }
}

.datehead {
  color: #fff;
  font-weight: bold;
  font-family: verdana;
  font-size: 8pt;
  cursor: pointer;
  border-top-left-radius: .8em;
  border-top-right-radius: .8em;
  text-shadow: 2px 2px 1px grey;
  border-top: 2px solid orange;
}

#li_prvwkbtn, #li_nxtwkbtn {
  width:5.25%;
  button {width: 100%;}
}

#li_prvwkbtn button, #li_nxtwkbtn button, #dtPck .lbtn, #dtPck .rbtn  {
  cursor: pointer;
  border: 1px solid grey;
  font-size: 1em;
  font-weight: bold;
  background-image: linear-gradient(#f00, #f90);
  color: #900;
}

#li_prvwkbtn button:hover, #li_nxtwkbtn button:hover {
  background-color: #c00;
  color: #fff;
}

#li_prvwkbtn button {
  border-top-left-radius: .8em;
  border-bottom-left-radius: .8em;
}

#li_nxtwkbtn button {
  border-top-right-radius: .8em;
  border-bottom-right-radius: .8em;
}


/* Data entry textarea */
#txtInfo1 {
  width: 100%;
  margin: 0;
  padding: .3em;
  height: 20em;
  font: 1.2em arial;
  border: 0;
  font-weight: bold;
  color: #fff;
  line-height: 1.4em;
  border-radius: .8em;
  box-sizing: border-box;
}


#diarym {
  padding: 0;
  margin: 0;
  width: 70%;
  input {
    border: 1px solid #ccc;
    padding: 1px;
    font-family: verdana;
  }
}

div.upd_btn {
  float: right;
  #upd_btn {
    float: right;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
    font-size: 1.3em;
    width: 20em;
    border: 0;
    &:hover {
      background-color: #c00;
      color: #fff;
      font-weight: bold;
    }
  }
}

#rw7 { /* Row exists and important. */
  float: left;
}

#ins_upd_dt {
  clear:both;
  background: #c00;
  color: #fff;
  font: bold .9em tahoma;
  border-radius: .3em;
  margin-top: 2.3em;
  padding: .4em;
  text-align: center;
}


.ui-tooltip {
  background: hsla(30, 100%, 40%, 1);
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font: bold 12px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
  .date_s {
    font: bold 12px "Arial Black", Tahoma;
    background-color: #fff;
    color: #fff;
    border-radius: .3em;
    padding: 4px;
    margin-bottom: 4px;
    background-image: linear-gradient(#f90, rgb(255,0,0));
    text-shadow: 1px 1px 1px rgb(100,100,100);
  }
}


/* Calendar styles */
#dtPck {
  position: fixed;
  width: 27%;
  text-align: center;
  background-image: linear-gradient($selcol, #000);
  border-radius: .8em;
  box-shadow: 2px 2px 2px #000;
  height: 80%;
  tbody#d td {
    font: bold .8em arial;
    color: #fff;
    background: grey;
  }
  #tblDate {
    border-collapse: collapse;
    text-align: center;
    td {
      padding: 0;
      font: 1.2em tahoma;
      a {
        display: block;
        text-decoration: none;
        padding: .1em;
        font: bold 1em arial;
        border-radius: .4em;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        text-shadow: 2px 2px 1px #000;
        width: 2em;
        cursor: pointer;
      }
    }
  }
  .lbtn {border-top-left-radius:.8em;border-bottom-left-radius:.8em;}
  .rbtn {border-top-right-radius:.8em;border-bottom-right-radius:.8em;}
  /*.btnHide {display:none;position:absolute;width:2em;color:#c00;}*/
}

#dtPck #tblDate td {
  &.curDate {background-color: $tdycol; color: #fff;} /* today_col */
}

#dtPck #tblDate td.three_col a {background-color: $thrcol; color: #fff; /* three_col */}
#dtPck #tblDate td.four_col a {background-color: $forcol; color: #fff; /* four_col */}

#dtPck #tblDate td {
  &.sel_col a, &.sel_col a:hover, a:hover {background-color: $selcol; color: #fff;}
}

/*#dtPck #tblDate td {&.nohover, &.medHead {cursor: hand;}}*/





/* Quick Add - 15/11/2016 */

.quickadd {
  position:absolute; top: 0; left: 70%;
  cursor:pointer;
  font-weight: bold;
}

.quickadddiv {
  border-radius: .4em;
  position:absolute; top: 20px; left: 800px;
  background: linear-gradient(black, blue);
  color:#fff;border:1px solid #fff;
  padding: 1em;
}

.quickadddiv ul {
  margin: 1em 1em 1em 0; padding-left:1.3em;
}

.quickadddiv li {
  cursor: pointer;
}

.quickadddiv li:hover {
  background: #f00;color: #fff;
}

.quickadddiv li textarea {
  width: 25em;
}

.quickadddiv .newentry {
  cursor: pointer;
  font-weight: bold;
  border-radius: .3em;
  background: red;
  text-align: center;
  width: 5em;
}

.quickadddiv .mode span {
  cursor: pointer;
}


.quickadddiv .mode span.highlight {
  color: yellow;
  cursor: default;
}

.quickadddiv .mode {
  font-weight: bold;
}

